<a href="https://colab.research.google.com/github/venkatarajunesha360/Basic-DL/blob/main/Pandas_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
a = pd.Series([1,2,3,4,5,6,7,8])

In [4]:
a

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [5]:
# prompt: write a pandas basics codes

import pandas as pd
# Create a DataFrame
df = pd.DataFrame({'Name': ['John', 'Mary', 'Bob'], 'Age': [25, 30, 28]})

# Print the DataFrame
print(df)

# Access the first row
print(df.iloc[0])

# Access the first column
print(df['Name'])

# Add a new column
df['City'] = ['New York', 'Chicago', 'Los Angeles']

# Print the DataFrame
print(df)

# Delete a column
del df['City']

# Print the DataFrame
print(df)

   Name  Age
0  John   25
1  Mary   30
2   Bob   28
Name    John
Age       25
Name: 0, dtype: object
0    John
1    Mary
2     Bob
Name: Name, dtype: object
   Name  Age         City
0  John   25     New York
1  Mary   30      Chicago
2   Bob   28  Los Angeles
   Name  Age
0  John   25
1  Mary   30
2   Bob   28